<div class="row">
    <nav aria-label="You are here:" role="navigation">
        <ul class="breadcrumbs">
            <li><a href="/">Home</a></li>
            <li class="disabled">Đơn hàng</li>
            <li>
                <span class="show-for-sr">Current: </span> Danh sách
            </li>
        </ul>
    </nav>
</div>

<div class="row">
    &nbsp;
</div>

<div class="row">
    <div class="large-6 columns">
        <div class="callout success">
            <p>
                <strong>Tổng giá trị tất cả đơn hàng</strong>
            </p>
            <div class="text-right">
                <div class="stat">{{SumUnit}} VND</div>
            </div>
        </div>
    </div>

    <div class="large-6 columns">
        <div class="callout primary">
            <p>
                <strong>Số lượng đơn hàng</strong>
            </p>
            <div class="text-right">
                <div class="stat">{{numberCart}}</div>
            </div>
        </div>
    </div>

</div>

<div class="row">
    <div class="large-12 columns">
        <div class="card " style="width: 100%;">
            <div class="card-divider clearfix">
                Danh sách sản phẩm
                <i data-tooltip title="Click for More" class="float-right more-button fa fa-ellipsis-h"
                    aria-hidden="true"></i>
            </div>
            <table>
                <thead>
                    <tr>
                        <th>Mã đơn</th>
                        <th>Người nhận</th>
                        <th>Số điện thoại</th>
                        <th>Đơn giá (VND)</th>
                        <th>Địa chỉ nhận hàng</th>
                        <th>Trạng thái giao hàng</th>
                        <th>Trạng thái thanh toán</th>
                        <th class="text-center">Ngày cập nhật</th>
                        <th class="text-center">#</th>
                        {{!-- <th class="text-center">#</th> --}}
                    </tr>
                </thead>
                <tbody>
                    {{#each data}}
                    <tr>
                        <td>#{{this.code}}</td>
                        <td>{{this.fullname_receiver}}</td>
                        <td>{{this.phone_receiver}}</td>
                        <td>{{this.total_unit}}</td>
                        <td>{{this.delivery_address}}</td>
                        <td>{{this.delivery_status}}</td>
                        <td class="text-center">{{this.payment_status}}</td>
                        <td class="text-center">{{this.updated_at}}</td>
                        <td class="text-center">
                            <div class="cart-button detail-button m-0" id="{{this.code}}">Chi tiết</div>
                        </td>
                        {{!-- <td class="text-center">
                            <div class="cart-button delete-button m-0" id="{{this.code}}">Hủy</div>
                        </td> --}}
                    </tr>
                    {{/each}}
                </tbody>
            </table>
            <div class="card-section">
                <small>
                    Số lượng:
                </small>
            </div>
        </div>
    </div>
</div>

<div style="height: 100vh;"></div>
<div class="detail-cart-page-shadow auto-hide">
    <div class="cart-control">
        <div class="cart-button delete-button wrap-cart-button" id="close-cart-detail-btn">Đóng</div>
        {{!-- <div class="cart-button delete-button wrap-cart-button">Hủy đơn hàng</div> --}}        
        <div class="cart-button wrap-cart-button">Đơn giá: 19.990.000 VND</div>
        {{#if admin}}
            <select style="width: 200px; margin: 0px 10px 0px 0px;">
                <option value="dang-chuan-bi-hang">Đang chuẩn bị hàng</option>
                <option value="da-gui-hang">Đã gửi hàng</option>
                <option value="dang-van-chuyen">Đang vận chuyển</option>
                <option value="dang-giao-hang">Đang giao hàng</option>
                <option value="da-giao-hang">Đã giao hàng</option>
            </select>        
            <div class="cart-button detail-button wrap-cart-button">Cập nhật!</div>
        {{/if}}
    </div>  
    
    <div class="detail-cart-container">
        <cart-container class="row">
            <div class="cart-item large-12 columns" id="cart-item-id">
                <div><img src="/images/asus-rog-zephyrus-g14.jpg" alt="Item 1"></div>            
                <div class="cart-item-detail">
                    <h4>MSI Modern 15dfasdfasdfdfasdfsadfsadfasdfsdfsadafs</h4>
                    <h5 id="total-unit-item">19.990.000 VND</h5>
                    <h6>Số lượng: 12</h6>
                </div>
                <div class="">
                    {{!-- <input class="delete-button delete-cart-item-btn" type="button" value="Xóa"> --}}
                </div>
            </div>
        </cart-container>
    </div>
</div>