<div class="featured-page">
      <div class="container">
        <div class="row">
          <div class="col-md-4 col-sm-12">
            <div class="section-heading">
              <div class="line-dec"></div>
              <h1>Danh sách sản phầm</h1>
            </div>
          </div>
          <div class="col-md-8 col-sm-12">
            <div id="filters" class="button-group">
              <button class="btn btn-primary" data-filter="*">Tất cả</button>
              <button class="btn btn-primary" data-filter=".new">Mới nhât</button>
              <button class="btn btn-primary" data-filter=".low">Giá thấp</button>
              <button class="btn btn-primary" data-filter=".high">Giá cao</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  
    <div class="featured container no-gutter">

        <div class="row posts">

            {{#each data}}
              <div id="{{this.id}} % 3" class="item new col-md-4">
                <a href="/products/detail/{{this.id}}">
                  <div class="featured-item">
                    <img src="/images/asus-rog-zephyrus-g14.jpg" alt="Item 1">
                    <h4>{{this.name}}</h4>
                    <h5>{{this.price}}VND</h5>
                    
                    <p>{{this.content}}</p>
                  </div>
                </a>
              </div>
            {{/each}}

            {{!-- <div id="1" class="item new col-md-4">
              <a href="/products/1">
                <div class="featured-item">
                  <img src="images/asus-rog-zephyrus-g14.jpg" alt="Item 1">
                  <h4>Asus ROG Zephyrus G14 Alan Walker</h4>
                  <h5>44.990.000VND</h5>
                  
                  <p>CPU: AMD Ryzen 9, 5900HS</p>
                  <p>RAM: 16GB DDR4</p>
                  <p>Ổ cứng: 1TB SSD M.2 PCle</p>
                  <p>Card rời: RTX 3050Ti 4GB</p>
                  <p>Màn hình: 14" Full HD IPS</p>
                </div>
              </a>
            </div> --}}

        </div>
    </div>

    <div class="page-navigation">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <ul>
              <li class="current-page"><a href="/products/1">1</a></li>
              <li><a href="/products/2">2</a></li>
              <li><a href="/products/3">3</a></li>
              <li><a href="#"><i class="fa fa-angle-right"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>