<!-- Single Starts Here -->
    <div class="single-product">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="section-heading">
              <div class="line-dec"></div>
              <h1>{{data.name}}</h1>
            </div>
          </div>
          <div class="col-md-6">
            <div class="product-slider">
              <div id="slider" class="flexslider">
                <ul class="slides">
                  <li>
                    <img src="/images/asus-rog-zephyrus-g14-1.jpg" />
                  </li>
                  <li>
                    <img src="/images/asus-rog-zephyrus-g14-2.jpg" />
                  </li>
                  <li>
                    <img src="/images/asus-rog-zephyrus-g14-3.jpg" />
                  </li>
                  <li>
                    <img src="/images/asus-rog-zephyrus-g14-4.jpg" />
                  </li>
                  <!-- items mirrored twice, total of 12 -->
                </ul>
              </div>
              <div id="carousel" class="flexslider">
                <ul class="slides">
                  <li>
                    <img src="/images/asus-rog-zephyrus-g14-1.jpg" />
                  </li>
                  <li>
                    <img src="/images/asus-rog-zephyrus-g14-2.jpg" />
                  </li>
                  <li>
                    <img src="/images/asus-rog-zephyrus-g14-3.jpg" />
                  </li>
                  <li>
                    <img src="/images/asus-rog-zephyrus-g14-4.jpg" />
                  </li>
                  <!-- items mirrored twice, total of 12 -->
                </ul>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="right-content">
              <h4>{{data.name}}</h4>
              <h6>{{data.price}}VND</h6>
              <p>{{data.content}}</p>
                <p>CPU: AMD Ryzen 9, 5900HS</p>
                <p>RAM: 16GB DDR4</p>
                <p>Ổ cứng: 1TB SSD M.2 PCle</p>
                <p>Card rời: RTX 3050Ti 4GB</p>
                <p>Màn hình: 14" Full HD IPS</p>
              <span>Còn 7 chiếc trong kho</span>
              <form action="" method="get">
                <label for="quantity">Số lượng:</label>
                <input name="quantity" type="quantity" class="quantity-text" id="quantity" 
                	onfocus="if(this.value == '1') { this.value = ''; }" 
                    onBlur="if(this.value == '') { this.value = '1';}"
                    value="{{data.quantity}}">
                <input type="submit" class="button" value="Mua Ngay!">
              </form>
              <div class="down-content">
                <div class="categories">
                  <h6>Thể loại: <span><a href="#">{{data.category}}</a></span></h6>
                </div>
                <div class="share">
                  <h6>Chia sẽ: <span><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i class="fa fa-linkedin"></i></a><a href="#"><i class="fa fa-twitter"></i></a></span></h6>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Single Page Ends Here -->

    <!-- Customer Command here  -->|
    <div class="container">        
      <div class="row">
        <div class="col-md-12 col-sm-12 row">
            <textarea name="" id="" cols="60" rows="5"></textarea>
            
            <input class="col-md-8 col-sm-8" type="text" value="Nhập tên của bạn..." 
                    onfocus="if (this.value === 'Nhập tên của bạn...') this.value=''" ...>
            <div class="main-button col-md-4 col-sm-4">
              <a href="">Gửi</a>
            </div>
        </div>

        <div class="col-md-12 col-sm-12 command-detail">
            <h4>Có 5 bình luận</h4>

            <h5>Anh TranVanA đã bình luận:</h5>
            <p>Shop giao hàng nhanh, gói hàng kỹ cẩn thận.</p>

            <h5>Anh TranVanA đã bình luận:</h5>
            <p>Máy dùng ngon, chiến game mượt</p>

            <h5>Anh TranVanA đã bình luận:</h5>
            <p>Máy mượt lắm nha, làm đồ họa ổn phết</p>

            <h5>Anh TranVanA đã bình luận:</h5>
            <p>abcxyz</p>

            <h5>Anh TranVanA đã bình luận:</h5>
            <p>mnpqrst</p>

        </div>
      </div>       
    </div>
    <!-- Customer Command End here  -->|

    <!-- Similar Starts Here -->
    <div class="featured-items">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="section-heading">
              <div class="line-dec"></div>
              <h1>Có thể bạn sẽ thích:</h1>
            </div>
          </div>
          <div class="col-md-12">
            <div class="owl-carousel owl-theme">
              <a href="/products/detail/1">
                <div class="featured-item">
                  <img src="/images/asus-vivobook-pro15-oled.jpg" alt="Item 1">
                  <h4>Asus VivoBook Pro 15 OLED</h4>
                  <h5>31.990.000VND</h5>
                  
                  <p>CPU: Intel Core i7 Tiger Lake - 11370H</p>
                  <p>RAM: 16GB DDR4</p>
                  <p>Ổ cứng: 512GB SSD NVMe</p>
                  <p>Card rời: NVIDIA GeForce RTX3050</p>
                  <p>Màn hình: 15.6" Full HD OLED</p>
                </div>
              </a>
              
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Similar Ends Here -->
