<div class="featured-page">
	<div class="container">
		<div class="find-options">
			<input type="text" class="find-edit-text">
			<input class="submit-button" type="button" name="" id="" value="Tìm kiếm">
			<br><br>
			<form method="get">
			<label for="category">Hãng</label>
			<select name="category" id="category" class="select-option">
				<option value="">Tất cả</option>
				<option value="apple">Apple</option>
				<option value="asus">Asus</option>
				<option value="msi">MSI</option>
				<option value="dell">Dell</option>
				<option value="acer">Acer</option>
				<option value="lg">LG</option>
				<option value="hp">Hp</option>
			</select>
			<label for="price"> Giá tiền</label>
			<select name="price" id="price" class="select-option">
				<option value="">Tất cả</option>
				<option value="duoi-10-trieu">Dưới 10 triệu</option>
				<option value="10-15-trieu">Từ 10 - 15 triệu</option>
				<option value="15-20-trieu">Từ 15 - 20 triệu</option>
				<option value="tren-20-trieu">Trên 20 triệu</option>
			</select>
			{{!-- <label for="kind-customer"> Nhu cầu</label>
			<select name="kindCustomer" id="kindCustomer" class="select-option">
				<option value="all">Tất cả</option>
				<option value="education">Học tập, văn phòng</option>
				<option value="game">Chuyên Game</option>
				<option value="graphic">Đồ họa kỹ thuật</option>
				<option value="luxury">Cao cấp, sang trọng</option>
			</select> --}}
			<input type="submit" value="Lọc" class="submit-button">
			</form>
		</div>
	

		<div class="row">
			<div class="col-md-4 col-sm-12">
			<div class="section-heading">
				<h1>Danh sách sản phẩm</h1>
			</div>
			</div>
			<div class="col-md-8 col-sm-12">
			<div id="filters" class="button-group">
				<button class="btn btn-primary" data-filter="*">Tất cả</button>
				<button class="btn btn-primary" data-filter=".low">Giá tăng dần</button>
				<button class="btn btn-primary" data-filter=".high">Giá giảm dần</button>
			</div>
			</div>
		</div>
	</div>
  
    <div class="featured container no-gutter">
		<div class="row posts">
			{{#each data}}
				<div id="{{this.id}} % 3" class="item new col-md-4">
					<a href="/products/detail/{{this.id}}">
						<div class="featured-item">
							<img src="/images/asus-rog-zephyrus-g14.jpg" alt="Item 1">
							<h4>{{this.name}}</h4>
							<h5>{{this.price}}VND</h5>
							
							<p>{{this.content}}</p>
						</div>
					</a>
				</div>
			{{/each}}
		</div>        
    </div>

    <div class="page-navigation">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <ul>
              <li class="current-page"><a href="#">1</a></li>
              <li><a href="#">2</a></li>
              <li><a href="#">3</a></li>
              <li><a href="#"><i class="fa fa-angle-right"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
</div>

<script>
	const urlSearchParams = new URLSearchParams(window.location.search);
	const params = Object.fromEntries(urlSearchParams.entries());

	if(params.category){
		$('#category').val(params.category);
	}
	if(params.price){
		$('#price').val(params.price);
	}	
</script>

{{!-- <div class="featured-page">
	<div class="container">
		<div class="row">
			<div class="col-md-4 col-sm-12">
				<div class="section-heading">
					<div class="line-dec"></div>
					<h1>Danh sách sản phầm</h1>
				</div>
			</div>
			<div class="col-md-8 col-sm-12">
				<div id="filters" class="button-group">
					<button class="btn btn-primary" data-filter="*">Tất cả</button>
					<button class="btn btn-primary" data-filter=".new">Mới nhât</button>
					<button class="btn btn-primary" data-filter=".low">Giá thấp</button>
					<button class="btn btn-primary" data-filter=".high">Giá cao</button>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="featured container no-gutter">

		<div class="row posts">

			{{#each data}}
				<div id="{{this.id}} % 3" class="item new col-md-4">
					<a href="/products/detail/{{this.id}}">
						<div class="featured-item">
							<img src="/images/asus-rog-zephyrus-g14.jpg" alt="Item 1">
							<h4>{{this.name}}</h4>
							<h5>{{this.price}}VND</h5>
							
							<p>{{this.content}}</p>
						</div>
					</a>
				</div>
			{{/each}}

		</div>
</div>

<div class="page-navigation">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<ul>
					<li class="current-page"><a href="/products/1">1</a></li>
					<li><a href="/products/2">2</a></li>
					<li><a href="/products/3">3</a></li>
					<li><a href="#"><i class="fa fa-angle-right"></i></a></li>
				</ul>
			</div>
		</div>
	</div>
</div> --}}