<div class="featured-page">
	<div class="container">
		<div class="find-options">
			<form action="/products/search" method="get">
				<input class="find-edit-text" type="search" id ="search" name ="keyword" placeholder="Tên sản phẩm..." >
				<input class="submit-button" type="submit" name="" id="" value="Tìm kiếm">
			</form>
			<br><br>
			<form action="/products" method="get">
				<label for="category">Hãng</label>
				<select name="category" id="category" class="select-option">
					<option value="">Tất cả</option>
					<option value="apple">Apple</option>
					<option value="asus">Asus</option>
					<option value="msi">MSI</option>
					<option value="dell">Dell</option>
					<option value="acer">Acer</option>
					<option value="lg">LG</option>
					<option value="hp">Hp</option>
				</select>

				<label for="price"> Giá tiền</label>
				<select name="price" id="price" class="select-option">
					<option value="">Tất cả</option>
					<option value="duoi-10-trieu">Dưới 10 triệu</option>
					<option value="10-15-trieu">Từ 10 - 15 triệu</option>
					<option value="15-20-trieu">Từ 15 - 20 triệu</option>
					<option value="tren-20-trieu">Trên 20 triệu</option>
				</select>

				{{!-- <label for="kind-customer"> Nhu cầu</label>
				<select name="kindCustomer" id="kindCustomer" class="select-option">
					<option value="all">Tất cả</option>
					<option value="education">Học tập, văn phòng</option>
					<option value="game">Chuyên Game</option>
					<option value="graphic">Đồ họa kỹ thuật</option>
					<option value="luxury">Cao cấp, sang trọng</option>
				</select> --}}
				<input type="submit" value="Lọc" class="submit-button">
			</form>
		</div>
	

		<div class="row">
			<div class="col-md-4 col-sm-12">
			<div class="section-heading">
				<h1>Danh sách sản phẩm</h1>
			</div>
			</div>
			<div class="col-md-8 col-sm-12">
			<div id="filters" class="button-group">
				<button sortBy="price" class="btn btn-primary" sortType="Asc">Giá tăng dần</button>
				<button sortBy="price" class="btn btn-primary" sortType="Desc">Giá giảm dần</button>
			</div>
			</div>
		</div>
	</div>
  
    <div class="featured container no-gutter">
		<div class="row posts">
			{{#each data}}
				<div id="{{this.id}} % 3" class="item new col-md-4 featured-item">
					{{!-- <p class="auto-hide" id="product-{{this.id}}">{{this.id}}</p> --}}
					<a href="/products/detail/{{this.id}}">
						<div class="featured-item">
							<img src="/images/asus-rog-zephyrus-g14.jpg" alt="Item 1">
							<h4>{{this.name}}</h4>
							<h5>{{this.price}}VND</h5>							
							<p>{{this.description}}</p>
						</div>					
					</a>
					<div class="button-add-to-cart amazing-button" id="{{this.id}}">Thêm vào giỏ hàng</div>					
				</div>
			{{/each}}
		</div>        
    </div>

    <div class="page-navigation">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <ul>
              <li class="current-page" ><a>1</a></li>
              <li ><a >2</a></li>
              <li ><a >3</a></li>
              <li ><a ><i class="fa fa-angle-right"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
</div>


<script>
	function parseSearchVal(searchVal){
		var queries = {};
		var searches = [];
		
		if(searchVal){
			searches = searchVal.replace("?","").split('&');
		}
	
		for(var i = 0; i< searches.length; i++){
			var temp = searches[i].split('=');
			var query = temp[0]; var value = temp[1];
			queries[query] = value;
		}

		return queries;
	}

	var pages = $(".page-navigation li");

	//Action when click pagination
	for (var i = 0; i < pages.length; i++) {
		pages[i].onclick = function(){
			var url = window.location.origin + window.location.pathname + "?";
			var searchVal = window.location.search;

			var queries = parseSearchVal(searchVal);

			if(queries.page){
				queries.page = this.innerText;
			}else{
				queries['page'] = this.innerText;
			}
			
			Object.keys(queries).forEach(function(key) {
				url += (key + "=" + queries[key]+ "&");
			});

			url = url.substring(0, url.length - 1);		
			window.location.replace(url);
		}
	}
	//Action when click pagination - End 


	//Set color button pagination when click
	var searchVal = window.location.search;
	var queries = parseSearchVal(searchVal);
	var pageNumber = queries["page"];

	for (var i = 0; i < pages.length; i++) {
		if(pages[i].innerText == pageNumber){
			var current = $(".page-navigation").find(".current-page");
			if (current.length > 0) { 
				current[0].className = current[0].className.replace("current-page", "");
			}
			pages[i].className += " current-page";
			break;	
		}
	}
	//Set color button pagination when click - End

	//Sort by price 
	const sortButtons = $("button[sortBy='price']");
	for(var i = 0; i< sortButtons.length;i++){
		const btn = sortButtons[i];
		btn.onclick = function(){
			var url = window.location.origin + window.location.pathname + "?";
			var searchVal = window.location.search;

			var queries = parseSearchVal(searchVal);

			if(queries.sortBy){
				queries.sortBy = $(this).attr("sortType");
			}else{
				queries['sortBy'] = $(this).attr("sortType");
			}
			Object.keys(queries).forEach(function(key) {
				url += (key + "=" + queries[key]+ "&");
			});

			url = url.substring(0, url.length - 1);		
			window.location.replace(url);
		}
	}
	

	//Sort by price - end
</script>

<script>
	const urlSearchParams = new URLSearchParams(window.location.search);
	const params = Object.fromEntries(urlSearchParams.entries());

	if(params.category){
		$('#category').val(params.category);
	}
	if(params.price){
		$('#price').val(params.price);
	}	
	if(params.keyword){
		$('#search').val(params.keyword);
	}
	if(params.sortBy){
		$("button[sortType='"+ params.sortBy +"']").css("color", "#3a8bcd");;
	}
</script>