
<!-- Navigation -->
    <div class="navbar">
      <div class="container">
          <!-- <div> -->
              <a href="#" class="button-nav" onclick="navBarResponsiveFunc()">
                  <i class="fa fa-bars"></i>
              </a>
          <!-- </div> -->
          <div class="nav-list">
              <ul>
                  <li>
                      <a class="nav-item-link {{home_menu_item_status}}" href="/">Trang chủ </a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-item-link {{products_menu_item_status}}" href="/products">Sản phẩm</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-item-link {{about_menu_item_status}}" href="/about">Về LaptopStore</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-item-link {{contact_menu_item_status}}" href="/contact">Thông tin liên hệ</a>
                  </li>
              </ul>
          </div>
          <div class="cart-login">
              <a href="/orders">
                  <i class="fa fa-shopping-cart"></i>
                  Giỏ hàng
              </a>
              <a href="/users">
                  <i class="fa fa-user"></i>
                  Đăng nhập
              </a>            
          </div>
      </div>
      <div class="container">
          <div class="nav-mobile nav-list" id="navBarResponsive">
              <ul>
                  <li>
                      <a class="nav-item-link {{home_menu_item_status}}" href="/">Trang chủ </a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-item-link {{products_menu_item_status}}" href="/products">Sản phẩm</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-item-link {{about_menu_item_status}}" href="/about">Về LaptopStore</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-item-link {{contact_menu_item_status}}" href="/contact">Thông tin liên hệ</a>
                  </li>
              </ul>
          </div>
      </div>        
  </div>
  <!-- End Nav -->   


{{!-- <div class="container">
        <a class="navbar-brand" href="#">
            Laptop Store
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/">Trang chủ
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/products">Sản phẩm</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/orders">Giỏ hàng</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/about">Về LaptopStore</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/contact">Liên hệ với chúng tôi</a>
            </li>
          </ul>
        </div>

      </div> --}}