<div class="row">

	<nav aria-label="You are here:" role="navigation">
	  <ul class="breadcrumbs">
		<li><a href="/">Home</a></li>
		<li class="disabled">Người dùng</li>
		<li>
		  <span class="show-for-sr">*: </span> Trang cá nhân
		</li>
	  </ul>
	</nav>

</div>

<div class="row">
	&nbsp;
</div>

<div class="row">
	<div class="large-4 columns">
		<div class="media-object">
		  <div class="media-object-section">
			<div class="thumbnail">
			  <img src= "/images/cl2.jpg">
			</div>
		  </div>
		</div>
	</div>

	<div class="large-8 columns">
		<div class="form">
			<form method="POST">
			  	<div class="grid-container">
					<div class="grid-x grid-padding-x">

						<div class="medium-12 cell">
							<label>ID
								<input type="text" name="id" placeholder="Tên sản phẩm" value="{{data.id}}" disabled>
							</label>
						</div>

						<div class="medium-12 cell">
							<label>Tên người dùng
								<input type="text" name="username" placeholder="" value="{{data.username}}">
							</label>
						</div>

						<div class="medium-12 cell">
							<label>Email
								<input type="email" name="email" placeholder="" value="{{data.email}}" disabled>
							</label>
						</div>

						<div class="medium-12 cell">
							<label>Mật khẩu
								<input type="password" name="password" placeholder="" value="{{data.password}}" disabled>
							</label>
						</div>

						<div class="medium-2">
							<label>
								Địa chỉ
								<input type="text" name="address" value="{{data.address}}">
							</label>
						</div>

						<div class="medium-6 cell">
							<label>Số điện thoại
								<input type="text" name="phone" placeholder="Đơn giá" value="{{data.phone}}">
							</label>
						</div>

						<div class="medium-12 cell">
							<label>
								Avatar
							</label>
							<label for="avatar" class="button">Chọn ảnh ...
								<input type="file" id="avatar" class="show-for-sr">
							</label>
							
						</div>

					</div>
			  	</div>

			  	<button class="submit success button">Cập nhật</button>
				<button type="button" class="alert button ml-5">Hủy</button>
			</form>
		</div>
	</div>
</div>
