<div class="banner">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="caption">
					<h2>Laptop Gamming 15% SALE OFF</h2>
					<div class="line-dec"></div>
					<p>Mạnh mẽ về cấu hình, trang bị card đồ họa rời và có thiết kế góc cạnh, đậm chất gaming, tản nhiệt
						tốt.
						Nhiều máy còn có màn hình lớn sắc nét, tần số quét cao, đèn bàn phím màu sắc,...
					</p>
					<h6>Cấu hình tối thiểu:</h6>
					<p>CPU: intel core i5/ AMD Ryzen 5<br>
					<p>RAM: 8GB<br>
					<p>Ổ cứng: SSD 512 GB<br>
					<p>Card rời: GTX, RTX, Radeon RX<br>
					<p>Màn hình: Full HD IPS</p>

					<div class="main-button margin-top-20">
						<a href="/products/detail/1">Mua ngay!</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Banner Ends Here -->

{{#each productPerTag}}
<!-- Featured Starts Here -->
<div class="featured-items">
	<div class="container">

		<div class="row">
			<div class="col-md-12">
				<div class="section-heading">
					<div class="line-dec"></div>
					<h1>{{this.tag}}</h1>
				</div>
			</div>
			<div class="col-md-12">
				<div class="owl-carousel owl-theme">
					{{#each this.products}}
					<a href="/products/detail/{{this.id}}">
						<div class="featured-item">
							<img src="uploads/{{this.image}}" alt="Item 1">
							<h4>{{this.name}}</h4>
							<h5>{{this.price}} VND</h5>

							<p>{{this.description}}</p>
						</div>
					</a>
					{{/each}}
				</div>
			</div>
		</div>

	</div>
</div>
<!-- Featred Ends Here -->
{{/each}}